DATABASE_URL=

PORT=
NODE_ENV=

JWT_SECRET=
JWT_REFRESH_SECRET=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=

FRONTEND_URL=

AGENT_ENDPOINT=
AGENT_API_KEY=
AGENT_API_VERSION=


ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_FULLNAME=
ADMIN_PHONE=

GOOGLE_MAPS_API_KEY=
